body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table, th, td {
    border: 0.05vw solid black;
    border-collapse: collapse;
}

td{
      text-align: center;
      background-color: #808080;
      padding-left:1vw ;
      padding-right:1vw ;
}
th{
    background-color: #151515;
    color: white;
    padding: 1vw;
}

table{
    margin-top:1vw;
    margin-bottom:1vw;
}
#button-box{
    margin-top: 2%;
    height: 6%;
    align-self: center;
    background-color: #e93636;
    border: none;
    border-radius: 3vw;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 2s;
}
#button-box:hover{
    background-color: #a12727;
    
}
a{
    text-decoration: none;
    transition-duration: 2s;
}
a:hover{
    color:black;
}
a:active{
    color: white;
}
a:visited{
    color: white;
}
a:link{
    color: white;
}