body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    text-align: center;
    margin-top: 2vw;
}
#form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    margin-top: 3%;
    border-radius: 1vw;
    color: white;
    background-color: #151515;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:2vw;
    padding-top: 1vw;
}
.buttons-form{
    margin-top: 1vw;
}
#botao-final{
    cursor: pointer;
}
#botao-saida{
    display: flex;
    flex-direction: column;
}
#button-box{
    margin-top: 2%;
    height: 10%;
    align-self: center;
    background-color: #E99536;
    border: none;
    border-radius: 3vw;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 2s;
}
#button-box:hover{
    background-color: #b4b4b4;   
}
a{
    text-decoration: none;
    transition-duration: 2s;
    display: block;
}
a:hover{
    color:black;
}
a:active{
    color: rgb(0, 0, 0);
}
a:visited{
    color: rgb(0, 0, 0);
}
a:link{
    color: rgb(0, 0, 0);
}
